<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <a href="https://github.com/rynx91" class="navbar-brand"><img class="logo--brand" src="assets/image/joyce-logo.png"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="/dashboard" class="nav-item nav-link"
              [ngClass]="{
                'active': currentUrl.indexOf('dashboard') > -1
              }">Dashboard</a>
              <a href="/table-view" class="nav-item nav-link"
              [ngClass]="{
                'active': currentUrl.indexOf('table-view') > -1
              }">Table View</a>
              <a href="/by-country/malaysia" class="nav-item nav-link"
              [ngClass]="{
                'active': currentUrl.indexOf('by-country') > -1
              }">View By Country</a>
          </div>
      </div>
  </div>
</nav>