@import '~src/scss/_variables.scss';

.container {
  overflow-x: auto;
}
.mat-table {
  margin-bottom: 0;
  margin-top: 1rem;
  overflow: auto;

  .mat-header-row{
    background-color: $primary-color;
  }

  .mat-header-cell {
    color: $secondary-text-color;
    padding-right: 1rem;
  }

  .mat-cell {
    vertical-align: middle;
  }

  ::ng-deep {
    .mat-sort-header-arrow {
      color: $secondary-text-color;
    }
  }

  .row--blue {
    background-color: aliceblue;
  }

  .mat-column-index, .mat-column-country, .mat-column-cases, .mat-column-todayCases, .mat-column-deaths, .mat-column-todayDeaths,
  .mat-column-recovered, .mat-column-todayRecovered, .mat-column-active, .mat-column-critical, .mat-column-casesPerOneMillion,
  .mat-column-deathsPerOneMillion, .mat-column-tests, .mat-column-testsPerOneMillion, .mat-column-population {
    padding-right: 3rem;
  }
}

.btn__period {
  max-width: 120px;
  margin-right: 10px;
  background-color: $secondary-text-color;
  border: 1px solid $primary-color;
  border-radius: 20px;

  &--active {
    background: $primary-color;
    color: $secondary-text-color;
  }
}

.figure--recovered {
  color: $primary-color;
  font-weight: bold;
}

.figure--death {
  color: red;
  font-weight: bold;
}

.figure--new {
  color: orange;
  font-weight: bold;
}
